/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================
   Table of Contents
   ==========================

# Elements
# Header
# Nav
# Home
# Blog-home
# Blog-page
# Contact-section
# Content-Section
# Donate
# Footer


/* ==========================
   Elements
   ========================== */
a{
    text-decoration: none;
}
body{
    background: white;
    padding: 0;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}


form {
    text-align: left;
    flex-flow: row wrap;
}

h1,
h2
h3,
h4,
h5,
h6{
    font-family: 'Oswald', sans-serif;
}

h2{
    font-size: 55px;
    font-weight: bold;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    font-size: 32px;
}


li {
    list-style: none;
    margin: 0 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(140, 140, 140);
    font-size: 12pt;
}

section {
    margin: 40px auto;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}


ul {
    margin: 0;
    text-align: right;
    padding: 30px 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.wrapper{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

/* ==========================
   Header/Nav
   ========================== */
header h1 {
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 0;
}

header h3{
    margin-bottom: 0;
}

h5{
    font-size: 20px;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav a{
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav .logo{
    max-height: 90px;
}

.boxed-link {
    border: 1px solid white;
    padding: 3px 13px;
}

.hamburger{
    display: none;
}

.home-header-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home-title{
    width: 75%;
}

.main-hero{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Airmen_celebrate_Black_History_Month_through_spoken_word_140211-F-VU439-061.jpg/1280px-Airmen_celebrate_Black_History_Month_through_spoken_word_140211-F-VU439-061.jpg");
    background-size: cover;
    background-color: rgb(11, 66, 211);
    background-blend-mode: soft-light;
    height: 600px;
    color: white;
    padding: 20px 40px;
}


.main-title{
    margin: auto;
    text-align: center;
}

/* ===========================================================
   Home
   =========================================================== */

/* ==========================
   About Section
   ========================== */
.aboutteen img{
    margin: 0 auto;
    max-height: 480px;
}

.images {
    overflow: hidden;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 400px;
    min-width: 360px;
}

.side{
    width: 40%;
}

.side a {
    color: gray;
}

/* ==========================
   Feature Section
   ========================== */
.feat-flex{
    display: flex;
}

.featured {
    margin: 20px;
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 500px;
    color: white;
    text-align: left;

}

.featured-image{
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.featured_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    transform: translateY(100%);
    transition: transform .35s ease-out;

}

.featured:hover .featured_overlay {
    transform: translateY(0);
}

.featured_overlay_name {
    margin: 0;
    padding: 0 0;
    transform: translateY(calc(-100%-10px)); /*+10 overlay padding*/
    transition: transform .35s ease-out;
}

.featured_overlay_name {
    transform: translateY(0);
}

.featured::before {
    content: close-quote;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: transform .35s ease-out;
}

.featured:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

.infotext h6{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.infotext p {
    color: white;
}

.infotext span{
    color: white;
    font-size: 16px;
    margin-top:0;
}

/* ==========================
 News Section
   ========================== */

body.plugin {
    float: right;
}

.cal-descriptions{
    margin: -10px 0 0 75px;
}

.cal-labels{
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0 0 0 75px;
}

.events {
    margin-top: -67px;
}

.facebook {
    width: 40%;
    margin-right: -93px;
    padding: 30px 0;
}

.news{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.news ul{
    text-align: left;
    width: 100%;
    padding: 10px;
}


/* ===========================================================
   About Page
   =========================================================== */

.aboutbigimg{
    width:100%;
    height: auto;
}

.aboutmain h2{
    margin-bottom: 0;
}

.aboutmain p{
    margin-bottom: 40px;
}

.board div{
    width: 30%;
    padding-bottom: 30px;
    padding: 30px 0;
}

.board div h5{
    margin-bottom: -17px;
}

.board div p{
    color: black;
}

.slidernav{
    border-bottom: 1px solid black;
}

.slidernav ul{
    display: flex;
    padding: 0;
}

.slidernav li:hover{
    border-bottom: 5px solid black;
}

#about-hero{
    background-image: url(../images/img6.jpg);
}
/* ===========================================================
   Blog Page
   =========================================================== */

.blogbox{
    margin-top: 60px;
}

.blogimages {
    overflow: hidden;
    height: 212px;
}
.bloginfo{
    margin-bottom: 25px;
}

.blogstyle{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 70px;
}
.blogstyle article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.blogtext{
    background: gray;
    color: white;
    width: 362px;
    margin: -55px 60px 0 0;
    height: 250px;
    padding-top: 20px;
}

.blogtext a{
    color: white;
}

.blogtext div{
    margin: 27px;
}

.blogtext h6{
    margin-bottom: 0;
}

.main-title h2{
    margin-bottom: 0;
}

.main-title h3{
    margin-top: 0;
}
.main-title a{
    color: white;
}

#blog-hero{
    background-image: url(../images/img2.jpg);
}

/* ===========================================================
   Blog Insert
   =========================================================== */

.mostrecentblog a{
    color: black;
}

.mostrecentblog article{
    width: 45%;
    margin-right: -120px;
}

.mostrecentblog h2{
    margin-bottom: 0;
}

.mostrecentblog h5{
    margin-bottom: 20px;
}


.mostrecentblog img{
    width: 50%;
    margin: 10px 0 20px 0;
}

.mostrecentimgs{
    width: 35%;
}

/* ===========================================================
   Contact-section
   =========================================================== */

.address{
    width: 100%;
    margin-left: -11px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(140, 140, 140);
    font-size: 12pt;
    text-align: left;
}

.align-email{
    padding-bottom: 52px;
}

.bigbottomimg img{
    width:100%;
    height: auto;
}

.contact-container {
    display: flex;
    margin: 40px auto;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
}
.contact-container a{
    color: black;
}

.contact-container div  {
    width: 25%;
    padding-right: 20px;
}

.contactfooter{
    margin: 0;
}

#contact-hero{
    background-image: url(../images/teens.jpg);
}
/* ===========================================================
   Donate-section
   =========================================================== */

.donate article{
    width: 40%;
    padding: 0 65px 0 60px;
}

.donate article input{
    border:none;
}

.donatebuttonborder{
    border: 1px solid black;
    padding: 3px 13px;
    margin: 230px;
    color: black;
}

.donateform{
    margin-top: 130px;
}

.donateform div{
    border-bottom: 1px solid black;
    margin-bottom: 45px;
}

.donateform label{
    font-weight: bold;
}

.long-input {
    width: 80%;
}

.sm-input {
    width: 33%;
}

#donate-hero{
    background-image: url(../images/img2.jpg);
}

/* ==========================
  Footer
   ========================== */
footer{
    background: rgb(140, 140, 140);
    color: white;
}

footer a{
    color: rgb(230, 230, 230);
}

footer span{
    color: white;
    font-weight: bold;
}

footer ul{
    width: 25%;
    text-align: left;
}

footer .wrapper{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content:space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

footer .wrapper h5{
    align-self: center;
    -webkit-align-self: center;
}

i {
    border: 2px solid white;
    border-radius: 50%;
}

.fa-facebook{
    padding:7px 10px;
}
.fa-twitter{
    padding: 7px 8px;
}
.fa-youtube-play{
    padding: 7px 8px;
}

.footertitle{
    display: flex;
    justify-content: space-between;
    margin: 0 21px 0 20px;
}

.footertitle h5 {
    margin: 40px 0 0 550px;
}

.social-media{
    background: rgb(48, 48, 48);
    height: 50px;
    padding: 20px 0;
}

.social-media ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.social-media .wrapper{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

/* Media Queries */
@media (min-width: 320px) and (max-width: 767px) {

    /* home page */
    section{
        display: block;
        padding: 15px;
        width: initial;
    }

    header h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .home-title h3,
    header h5{
        display: none;
    }

    .facebook{
        width: 95%;
    }

    .feat-flex{
        display: block;
    }

    .hamburger{
        display: block;
        font-size: 32px;
    }
    .main-hero {
        height:300px;
    }

    .main-hero nav{
        width: 100%;
        align-items: center;
    }

    .main-hero nav ul{
        display: none;
    }

    .news{
        width: 90%;
    }

    .side{
        width: 90%;
    }

    .social-media li{
        margin: 5px;
    }

    /* about page */
    .aboutbigimg,
    .bigbottomimg img{
        height: auto;
    }

    .board div{
        display: block;
        width:95%;
        padding-bottom: 0;
    }

    .main-title h2{
        font-size: 26px;
    }
    .main-title h3 {
        font-size: 16px;
    }

    /* blog-insert page */
    .mostrecentblog article{
        width: 95%;
    }
    .mostrecentblog img{
        width: 95%;
    }

    /* contact page */
    .contact-container{
        display: block;
        margin: 40px 0 0 55px;
    }

    .contact-container div{
        width: 60%;
        padding-bottom: 30px;
    }

    /* donate page */
    .donate article{
        width: 75%;
    }

    .donateform{
        margin-top: 70px;
    }

    .donatebuttonborder{
        margin: 105px;
    }
    /* footer */
    footer h3 {
        margin-bottom: 0;
    }

    footer ul{
        width: 50%;
    }

    footer .wrapper h5{
        width: inherit;
    }

    .social-media .wrapper{
        flex-flow: inherit;
    }

}
@media (min-width: 768px) and (max-width: 1024px){

    /* home page */
    header h5{
        font-size: 15px;
        width: 35%;
    }

    .home-title h3{
        font-size: 25px;
        margin-top: 0;
    }

    .facebook{
        width: 75%;
        padding-left: 185px;
    }

    .featured{
        height: 388px;
        min-width: 220px;

    }

    footer .wrapper h3,
    footer .wrapper h5{
        margin: 10px;
    }
    .main-hero {
        height:300px;
    }

    .news{
        width: 95%;
    }

    /* about page */
    .aboutmain p{
        margin: 0 10px 25px 0;
    }

    .board div{
        padding: 30px 5px;
    }

    /* blog page */

    .blogbox{
        margin-top: 10px;
        width: 32%;
    }

    .blogtext{
        width: 241px;
    }
    /* blog-insert page */

    .mostrecentblog article {
        width: 55%;
        margin-right: -119px;
    }
    .mostrecentblog img {
        width: 70%;
    }
    /* contact page */

    .contact-container{
        flex-flow: row wrap;
    }
    .contact-container div{
        width:42%;
        padding: 0 20px 0 15px;
    }

    .contact-container h5,
    .contact-container ul,
    .contact-container a{
        padding: 0 0 10px 18px;
    }



    .donate article {
        width: 80%;
    }

    .donateform {
        margin-top: 10px;
    }

    .donatebuttonborder{
        margin: 270px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
